@import "tailwindcss";



@theme {
  --color-primary:       #16a34a; /* green-600 — الأساسي */
  --color-primary-light: #4ade80; /* green-400 — أفتح */
  --color-primary-dark:  #15803d; /* green-700 — أغمق */
}